# Rust
/target
**/*.rs.bk
Cargo.lock

# Environment variables
.env
.env.local
.env.*.local

# Elm
src/elm/elm-stuff/
src/elm/elm.js
src/elm/index.html

# Node.js
node_modules/
src/elm/node_modules/
package-lock.json
src/elm/package-lock.json

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
